/* src/components/Header.css */

.header-header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 100%; /* Ensure the header takes up the full width of the page */
}

.header-logo {
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-right: 20px; /* Add margin to create space between the logo and the nav items */
}

.header-logo:hover {
  opacity: 0.7;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header-nav ul li {
  margin: 0 10px;
  position: relative;
}

.header-nav ul li a {
  color: yellow;
  text-decoration: none;
  font-size: 1.6em; /* Header text font size */
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

.header-nav ul li .header-ladder-display {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 1px;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1000;
  min-width: 200px;
}

.header-nav ul li .header-ladder-display .header-dropdown-item {
  padding: 5px 5px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.header-nav ul li .header-ladder-display .header-dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
  font-size: 1.4em;
}

.header-donut {
  height: 55px;
  top: 0;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.3s ease;
}

.header-donut:hover {
  opacity: 0.7;
}

.header-greek {
  font-size: 3.3em;
  color: yellow;
  margin-right: 10px;
  cursor: pointer;
  display: inline-flex; /* Ensure Greek characters are displayed inline */
  align-items: center;
}

.header-greek:hover {
  opacity: 0.5;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-nav ul li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.header-nav ul li .header-ladder-display {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1000;
}

.header-nav ul li .header-ladder-display div {
  padding: 5px 0;
}
