/* DeltaDashboard.css */

.delta-dashboard-header {
  width: 100%;
  padding: 1rem;
  background-color: white; /* Ensure header background color is white */
  cursor: default; /* Standard cursor for the header */
  z-index: 1000; /* Ensure the header is on top */
  position: relative; /* Ensure it affects the stacking context */
}

.delta-dashboard-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.delta-dashboard-data-table th,
.delta-dashboard-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.delta-dashboard-data-table th {
  background-color: #f2f2f2;
}

.delta-dashboard-table-container {
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding-bottom: 20px;
}

.delta-dashboard-page-container {
  padding-bottom: 50px;
  overflow: auto;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.delta-dashboard-plot-container {
  width: 100%;
  overflow: auto;
  position: relative; /* Ensure the container is positioned relatively */
}

.delta-dashboard-difference-section {
  margin-bottom: 50px; /* Add space under the differences table */
}

.delta-dashboard-content-wrapper {
  flex: 1; /* This ensures the wrapper takes available space */
  overflow: auto; /* Allow scrolling */
}

.delta-dashboard-aggregated-counts {
  margin-top: 20px;
  padding-left: 20px; /* Add some left padding to indent */
  font-size: 1.2em; /* Increase font size slightly */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Change text color */
}

.delta-dashboard-aggregated-counts p {
  margin: 5px 0; /* Add some margin to each paragraph */
}

.delta-dashboard-hint-container {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold; /* Make the font bold */
  position: absolute; /* Position the hint container absolutely */
  top: 10px; /* Position it 10px from the top */
  left: auto; /* Reset left to auto */
  right: 10px; /* Position it 10px from the right */
  z-index: 10; /* Ensure it is on top of other elements */
  cursor: move; /* Change cursor to indicate draggable */
}

.delta-dashboard-legend-key {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.delta-dashboard-aggregated-info {
  margin: 20px 0;
}
