/* Donuts.css */

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-size: 16px;
  background-color: white; /* Change page background color to white */
}

.donuts-container {
  top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: white; /* Change container background color to white */
  position: relative;
}

.donuts-header {
  width: 100%;
  padding: 1rem;
  background-color: white; /* Ensure header background color is white */
  cursor: default; /* Standard cursor for the header */
  z-index: 1000; /* Ensure the header is on top */
  position: relative; /* Ensure it affects the stacking context */
}

.donuts-coffee-pot {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: 150px;
  height: auto;
}

.donuts-donut-image {
  width: 250px;
  height: 250px;
  margin-top: 5rem;
}

.donuts-coffee-cups-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
  width: 80%;
}

.donuts-coffee-cup {
  margin: 0.5rem;
}

.donuts-coffee-image {
  width: 120px;
  height: 120px;
}

.donuts-floating-cup {
  position: absolute;
  top: 1rem;
  left: 1rem;
  animation: donuts-float-in 2s ease-in-out forwards;
}

@keyframes donuts-float-in {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate(calc(55rem - 310px), calc(35rem - 130px));
    opacity: 1;
  }
}

.donuts-tooltip {
  position: fixed; /* Change to fixed to follow the cursor */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  transform: translate(-35%, -250%); /* Center the tooltip near the cursor */
  white-space: nowrap;
  visibility: visible;
}

.donuts-tooltip.donuts-hidden {
  visibility: hidden;
}
