/* src/pages/LandingPage.css */

.landing-container {
  padding: 20px;
  text-align: left;
}

.landing-header {
  font-size: 2.5em;
  color: #2c3e50;
  text-align: center;
}

.landing-text {
  font-size: 1.2em;
  color: #34495e;
  line-height: 1.6em;
  margin-top: 20px;
  text-align: justify; /* Add this line to justify the text */
}

.indented-text {
  margin-left: 20px; /* Add margin to the left */
}

.button-container {
  margin-top: 20px;
  margin-left: 20px; /* Add margin to the left */
  text-align: left;
}

.greek-container {
  background-color: #282c34; /* Same background color as header */
  padding: 20px;
  display: flex;
  justify-content: flex-start; /* Left justify the Greek letters */
  gap: 20px;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px; /* Add margin to the left to match other elements */
  margin-right: auto; /* Center the div horizontally */
  width: fit-content; /* Adjust the width to fit the content */
}

.button {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #34495e;
}

.greek {
  font-size: 3.3em;
  color: yellow; /* Same color as in the header */
  cursor: pointer;
  margin: 0 10px 0 0;
  transition: opacity 0.3s ease;
}

.greek:hover {
  opacity: 0.5;
}

.donut {
  height: 55px;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.3s ease;
}

.donut:hover {
  opacity: 0.7;
}
