/* src/components/Header.css */

.header {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.logo:hover {
  opacity: 0.8; /* Slightly reduce opacity on hover */
}

.nav-left {
  display: flex;
  margin-left: 20px; /* Add margin to push items away from the logo */
}

.nav-right {
  display: flex;
  margin-left: auto; /* Push right nav items to the far right */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  position: relative; /* Ensure the dropdown is positioned relative to the li */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em; /* Same font size for all elements */
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li .ladder-display {
  position: absolute; /* Position the dropdown absolutely within the li */
  top: 100%; /* Position the dropdown below the Data element */
  left: 0; /* Align the dropdown to the left edge of the Data element */
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 1px;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1000;
  min-width: 200px; /* Set a minimum width for the dropdown */
}

nav ul li .ladder-display .dropdown-item {
  padding: 5px 5px; /* Increase padding for better spacing */
  color: black;
  text-decoration: none;
  font-size: 1.1em; /* Increase font size */
  white-space: nowrap; /* Ensure text does not wrap */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li .ladder-display .dropdown-item:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  color: #000; /* Ensure the text color is black on hover */
  font-size: 1.3em; /* Increase font size on hover */
}

.donut {
  height: 30px; /* Adjust the size of the donut image */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-right: 10px; /* Space between the donut and About link */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

.donut:hover {
  opacity: 0.8; /* Slightly reduce opacity on hover */
}
