body {
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.matrix {
  display: inline-block;
  position: relative;
  width: 500px; /* 100 cells * 5px */
  height: 500px; /* 100 cells * 5px */
  background-color: #f0f0f0; /* Light background color for visibility */
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent; /* Increased height */
  border-bottom: 25px solid transparent; /* Increased height */
  border-left: 40px solid black; /* Decreased width */
}

.green, .red {
  position: absolute;
  border-radius: 50%; /* Make the green and red objects circular */
  border: 1px solid #000; /* Add border for sub-matrix */
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
}

.arrow-button {
  width: 60px;
  height: 60px;
  font-size: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.fire-button {
  width: 60px;
  height: 60px;
  font-size: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.start-button {
  width: 120px;
  height: 60px;
  font-size: 24px;
  margin: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

label {
  margin-top: 10px;
}

input[type="range"] {
  width: 100%;
}

.game-over {
  font-size: 36px;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
